.cost {
  border: var(--dark-grey) solid;
  border-width: var(--tp-btm-med);

  text-align: right;

  width: 520px;
}

.cost span {
  font-size: 7rem;

  /* border-radius: 1rem; */

  /* margin: .3rem;
  padding: .1rem; */
}

.options {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
}